include LICENSE
include README.rst
include requirements.txt
include Screenshot.png

recursive-include bin *
recursive-include centerline *
recursive-include requirements *
recursive-include scripts *

exclude MANIFEST.in
global-exclude *.pyc
recursive-exclude tests *
