include *.md *.rst *.toml *.yml LICENSE MANIFEST.in tox.ini CITATION.cff
exclude .bumpversion.cfg

recursive-include docs *
recursive-exclude docs/_build *

recursive-include tests *
recursive-exclude tests/__pycache__ *

prune .travis
prune changelog.d
